.experince-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experince-container > div{
    background-color: var(--bg-color-variant);
    padding: 2.5rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    cursor: pointer;
}
.experince-container > div:hover {
    background-color: transparent;
    border: 1px solid var(--primary-vairiant);
}

.experince-container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--primary);
}
.experince-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.experince-details {
    display: flex;
    gap: 1rem;
}

.experince-details-icon{
    margin-top: 6px;
    color: var(--primary);
}


/* media queries (medium devices) */
@media screen and (max-width: 1040px) {
    .experince-container{
        grid-template-columns: 1fr;
    }
    .experince-container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    
}

/* media queries (small devices) */
@media screen and (max-width: 600px) {
    .experince-container{
        gap: 1rem;
    }
    .experince-container > div{
        width: 100%;
        padding: 2rem 1rem;
    }
}
