.container.contact-container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
.contact-options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact-option{
    background: var(--bg-color-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact-option:hover{
    background: transparent;
    border-color: var(--primary-vairiant);
}
.contact-option-icon{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
.contact-option a{
    margin-top: .7rem;
    display: inline-block;
    font-size: .8rem;
}

/* =================== FORM ==================== */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    background: transparent;
    border: 2px solid var(--primary-vairiant);
    resize: none;
    color: var(--white);
}
input::placeholder, textarea::placeholder{
    color: var(--light);
}
.submit-btn{
    cursor: pointer;
}


/* media queries (medium devices) */
@media screen and (max-width: 1040px) {
    .container.contact-container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* media queries (small devices) */
@media screen and (max-width: 600px) {
    .container.contact-container{
        width: var(--container-sm);
    }
}