footer{
    background: var(--primary);
    padding: 3rem 0;
    text-align: center;
    font-size: .9rem;
    margin-top: 7rem;
}
footer a{
    color: var(--bg-color);
}
.footer-logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem ;
    display: inline-block;
}
.footer-logo:hover{
    color: var(--bg-color);
}
.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}
.permalinks:hover{
    color: var(--bg-color);
}
.footer-social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.footer-social a{
    background: var(--bg-color);
    color: var(--white);
    padding: .8rem;
    border-radius: .7rem;
    display: flex;
    border: 1px solid transparent;
}
.footer-social a:hover{
    background: transparent;
    color: var(--bg-color);
    border-color: var(--bg-color);
}
.footer-copyright{
    margin-bottom: 4rem;
    color: var(--bg-color);
}
.footer-copyright small{
    font-weight: 500;
    font-size: .9rem;
}

/* media queries (small devices) */
@media screen and (max-width: 600px) {
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer-social{
        margin-bottom: 2rem;
    }
}